.itemsRow,
.women_section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 10px 0;
    margin: auto;
}

h3 {
    margin: 0;
    padding: 0;
}

/* Make it a marquee */
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.itemsBox{
    margin: 10px;
}

.details{
    display: flex;
    justify-content: space-between;
}

.itemsBox>.carPhotos>img {
    overflow-x: auto;
    white-space: nowrap;
    min-width: 100%;
    min-height: 17.5em;
    /* min-width: 15.5em;
    min-height: 15.5em; */
    /* border-radius: 10px; */
}

.parallax {
    /* The image used */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://images.pexels.com/photos/3839432/pexels-photo-3839432.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');

    /* Full height */
    height: 85vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#filterInput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }