/* Misc */

h3 {
    margin: 0;
    padding: 0;
}

/* Grid Section */

.itemsRow,
.women_section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 10px 0;
    margin: auto;
}

/* Marquee */

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    z-index: 2;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/* Items Box */

.details {
    display: flex;
    justify-content: space-between;
}

.itemsBox {
    margin: 10px;
    max-width: auto;
    position: relative;
}

.itemsBox>.carPhotos {
    white-space: nowrap;
    position: relative;
}

.carLinkWrapper {
    display: inline-block;
}

.itemsBox>.carPhotos.scrollable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsBox>.carPhotos img {
    min-width: 100%;
    min-height: 17.5em;
    transition: .15s ease;
    flex-shrink: 0;
    margin-right: 10px;
    transition: transform 0.8s ease-in-out;
}

/* .itemsBox>.carPhotos>img:hover {
    opacity: 0.7;
    transition: .5s ease;
} */

.itemsBox>.prev,
.itemsBox>.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    z-index: 1;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.itemsBox>.prev {
    left: -10px;
}

.itemsBox>.next {
    right: 0px;
}

/* Parallax Image */

.parallax {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)), url('https://cdn.discordapp.com/attachments/1030153058929352725/1212382335777906708/ezgif.com-animated-gif-maker_1.gif?ex=65f1a209&is=65df2d09&hm=3085c1669252613becf9e2ba2b10eae4809e13716a764a77ac8a61045650ebae&');
    /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://dreambutdonotsleep.com/cdn/shop/files/website-banner_1252182d-7a20-4b53-bb39-dbb82695fb37.gif?v=1677684383&width=1500'); */
    height: 85vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax_header {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 25%;
    /* width: 40%; */
}

.parallax_header h1 {
    margin: 0;
    font-size: 3.5em;
}

/* Input Box */

#filterInput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Responsive Queries */

@media only screen and (max-width: 1029px) {

    .itemsRow,
    .women_section {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .parallax_header h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 850px) {

    .itemsRow,
    .women_section {
        display: grid;
        grid-template-columns: auto auto;
    }

    /* .parallax_header h1 {
        font-size: 2.5em;
    } */

    .carPhotos img {
        width: 100%;
        height: auto;
    }

    .details {
        text-align: center;
    }

    .green-button,
    .red-button {
        display: block;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 540px) {

    .itemsRow,
    .women_section {
        display: block;
        margin: 0 30px;
    }

    .parallax_header h1 {
        font-size: 2em;
    }
}