@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 15px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #000; /* Set the color of the thumb */
  border-radius: 10px; /* Set the border radius to create rounded edges */
}