.banner {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0vh;
    z-index: 1;
}

/* .banner p {
    margin: 0;
    padding: 5px;
} */

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26), transparent);
    color: #E53D1C;
    text-align: center;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 29px;
    z-index: 1000;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    /* color: #E53D1C; */
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.midnav {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
    border-bottom: 2px solid #E53D1C;
}

.leftnav {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rightnav {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}