/* User Table */
.user-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  /* Remove table border */
}

.user-table td,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  /* Add a bottom border for separation */
}

.user-table th {
  background-color: #f2f2f2;
  /* Light gray background for header */
}


.sort-dropdown {
  margin-left: 20px;
  /* Adjust margin as needed */
}

.sort-dropdown label {
  margin-right: 10px;
  /* Adjust margin as needed */
}


.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropdowns select {
  padding: 11.5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Basket CSS */
.basket-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.basket-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  /* Remove table border */
}

.basket-item img {
  width: 130px;
  /* Ensures the image does not exceed its container's width */
  height: auto;
  /* Allows the image's height to adjust proportionally */
}

.basket-table td {
  padding: 8px;
}

.basket-item {
  background-color: #fff;
  text-align: center;
  /* Center align content in table cells */
}

.basket-item:hover {
  background-color: #f9f9f9;
}

.total-price {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 4px;
  margin: 4px;
}

button:hover {
  background-color: #e53d1c;
}

button:active {
  background-color: #e53d1c;
  transform: translateY(1px);
}


.basket-button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 4px;

}

.basket-button:hover {
  background-color: #E53D1C;
}

.basket-button:active {
  background-color: #E53D1C;
  transform: translateY(1px);
}



/* Product details container */
.product-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px auto;
  /* Center the container horizontally */
  max-width: 1200px;
  /* Limit maximum width */
  padding: 0 20px;
  /* Add padding to the sides */
}

/* Product image */
.product-image {
  flex: 1;
  max-width: 30%;
  margin-right: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
}

/* Product info */
.product-info {
  flex: 1;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 20px;
}

/* Additional details */
.additional-details {
  margin-top: 20px;
}

.additional-details h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.additional-details ul {
  list-style-type: none;
  padding: 0;
}

.additional-details li {
  margin-bottom: 5px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    align-items: center;
    /* Center items horizontally */
  }

  .product-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    /* Add space between image and product info */
  }
}


.reg-button {
  background-color: #3545dc;
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  border-color: #3545dc;
  margin-right: 10px;
  position: relative;
  /*top: 1px;  */
  text-decoration: none;
  cursor: pointer;
}



/* Form container */
.forms {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Heading */
.forms h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333333;
}

/* Input fields */
.forms input {
  width: 95%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  font-size: 16px;
  color: #333333;
  transition: border-color 0.3s ease;
}

.formsinput[type="email"]:focus,
.forms input[type="password"]:focus {
  border-color: #007bff;
}

/* Error message */
.forms .error {
  color: #dc3545;
  margin-bottom: 20px;
}

/* Buttons */
.forms .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forms .button-container .button {
  width: 48%;
  padding: 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forms .button-container .green-button {
  background-color: #28a745;
  color: #ffffff;
}

.forms .button-container .green-button:hover {
  background-color: #218838;
}

.forms .button-container .red-button {
  background-color: #dc3545;
  color: #ffffff;
}

.forms .button-container .red-button:hover {
  background-color: #c82333;
}


.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/*display 4 products per row */
@media (min-width: 768px) {
  .itemsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* display 3 products per row */
@media (min-width: 576px) and (max-width: 767px) {
  .itemsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* display 2 products per row */
@media (min-width: 376px) and (max-width: 575px) {
  .itemsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*display 1 product per row */
@media (max-width: 375px) {
  .itemsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Basic modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  /* Keep this for absolute positioning */
  top: 10px;
  /* Adjust this value to move vertically */
  right: 10px;
  /* Adjust this value to move horizontally */
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}


footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)), url("https://gippingvalleykoi.co.uk/wp-content/themes/gvk/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 60px 10%;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
}

.footer-col h4 {
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: white;
  text-transform: capitalize;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #E53D1C;
  height: 2px;
  width: 40px;
}

ul li:not(:last-child) {
  margin-bottom: 8px;
}

ul li a {
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: #bdb6b6;
  text-decoration: none;
  transition: 0.4s;
}

ul li a:hover {
  color: #E53D1C;
  padding-left: 2px;
}

.links a {
  display: inline-block;
  height: 44px;
  width: 44px;
  color: white;
  background-color: #E53D1C;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.links a:hover {
  color: #4d4f55;
  background-color: white;
}

@media(max-width: 740px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer-col h4::before {
    all: unset;
  }
}

@media(max-width: 555px) {
  .footer-col {
    width: 100%;
  }
}