/* Responsive Queries */

@media only screen and (max-width: 1029px) {

    .itemsRow,
    .women_section {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .parallax_header h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 850px) {

    .itemsRow,
    .women_section {
        display: grid;
        grid-template-columns: auto auto;
    }

    /* .parallax_header h1 {
        font-size: 2.5em;
    } */

    .carPhotos img {
        width: 100%;
        height: auto;
    }

    .details {
        text-align: center;
    }

    .green-button,
    .red-button {
        display: block;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 540px) {

    .itemsRow,
    .women_section {
        display: block;
        margin: 0 30px;
    }

    .parallax_header h1 {
        font-size: 2em;
    }
}

@media(max-width: 740px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
      text-align: center;
    }
  
    .footer-col h4::before {
      all: unset;
    }
  }
  
  @media(max-width: 555px) {
    .footer-col {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .product-details-container {
      flex-direction: column;
      align-items: center;
    }
  
    .product-image {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .product-info{
      margin: 0 20px;
      width: 100%;
    }
  }

  /*display 4 products per row */
@media (min-width: 768px) {
    .itemsGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  /* display 3 products per row */
  @media (min-width: 576px) and (max-width: 767px) {
    .itemsGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* display 2 products per row */
  @media (min-width: 376px) and (max-width: 575px) {
    .itemsGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /*display 1 product per row */
  @media (max-width: 375px) {
    .itemsGrid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  